html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong{
	font-weight: bold;
}
.clearfix {zoom:1;}
.clearfix:before,
.clearfix:after {display: table;content: "";zoom: 1;*display: inline;}
.clearfix:after {clear: both;}

/* end of your standard reset and clearfix solutions */
html,body{
	background: #313131;
}
body{
	font:normal 15px/1.5 'Cabin', Helvetica, Arial, sans-serif;
	background: url('../img/floor.jpg') repeat left top;
}

#wrap{
	width:800px;
	margin-left:40px;
	background: #ffffff;
	padding:40px 20px;
	position: relative;
}

p{
	margin:0 0 20px 0;
}
h1{
	padding:5px 100px 5px 30px;
	background: #191919;
	background: url('../img/bg.jpg') repeat left top;
	color:#f6f6f6;
	margin-left:-30px;
	display: inline-table;
	display: inline-block;
	font-size:35px;
	text-shadow: 0px 1px 0px #000000;
	margin-bottom: 30px;
	font-family: 'Lobster', Georgia, Times, serif;
}

h2{
	color:#438ece;
	font-size:30px;
	margin-bottom: 10px;
	font-family: 'Lobster', Georgia, Times, serif;
}

h3{
	color:#191919;
	font-size:25px;
	margin-bottom: 10px;
	font-family: 'Lobster', Georgia, Times, serif;
}


.splitcols{
	width: 600px;
	margin:30px auto 0 auto;
	
}
.splitcols h2{
	text-align: center;
	font-size: 20px;
	color:#191919;
}
.splitcols .left{
	float: left;
	width:300px;
}
.splitcols .right{
	float:right;
	width:300px;
}
.splitcols .middle{
	width: 200px;
	float:left;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size:30px;
}

.signup{
	margin:20px auto;
	width:250px;
	background:url('../img/shadow.png') no-repeat bottom center;
	padding-bottom:15px;
}

.signup form{
	background: #f3f3f3;
	border:1px solid #eae9e9;
	border-radius:5px;
	padding:20px;
	font-size:12px;
	color:#424242;
}

.field{
	margin:0 0 10px 0;
}

label {
	text-align: left;
	display:block;
	font-weight:bold;
}
form .buttons{
	margin-top:10px;
}
.signup h3{	
	color:#438ece;
	font-style: italic;
	text-shadow: 0 -1px 0px #ffffff;
	font-size: 18px;
	padding-bottom:10px;
	border-bottom:1px solid #eaeaea;
	margin:0;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.signup p{
	line-height:1.5em;
	padding-top:10px;
	border-top:1px solid #ffffff;
	margin:0 0 10px 0;
}


/* default button styling */
.btn{
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;  
  padding: 10px 14px 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  text-decoration: none;
  /* handles the background color and gradients */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  /* handles the rounded corners */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* button shadowing */
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  /* css transitions applied on the over effect */
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  outline:none;
}
.git.btn{
	position: absolute;
	right:20px;
	margin-top: 10px;
}
.git.btn span{
	padding:4px 0 4px 26px;
	vertical-align: middle;
	background: url('../img/github-icons.png') no-repeat 0 -17px;
	font-size:17px;
	text-shadow: 0px 1px 0px #ffffff;
}
.btn:hover {
  background-position: 0 -15px;
}
/* type specific styling */
.btn.primary{
	color: #033c6c;
	width: 208px;
	background-color: #66b7fc;
	background-repeat: repeat-x;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	border-color: #438ece;
	/* handles the background color and gradients */
	background-image: -khtml-gradient(linear, left top, left bottom, from(#b2e0ff), to(#69b8fc));
	background-image: -moz-linear-gradient(top, #b2e0ff, #69b8fc);
	background-image: -ms-linear-gradient(top, #b2e0ff, #69b8fc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2e0ff), color-stop(100%, #69b8fc));
	background-image: -webkit-linear-gradient(top, #b2e0ff, #69b8fc);
	background-image: -o-linear-gradient(top, #b2e0ff, #69b8fc);
	background-image: linear-gradient(top, #b2e0ff, #69b8fc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2e0ff', endColorstr='#69b8fc', GradientType=0);
	  outline:none;
}

/* style the form elements */
input[type="text"], input[type="password"], textarea, select, .uneditable-input{
	display: inline-block;
	padding: 4px;
	font-size: 13px;
	line-height: 18px;
	color: gray;
	border: 1px solid #eeeded;
	border-bottom-color: #e6e6e6;
	/* handles the rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:200px;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
input:focus, textarea:focus{
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted rgba(82, 168, 236, 0.8);
}



/* Better styles for embedding GitHub Gists */
.gist{font-size:12px;line-height:18px;margin-bottom:20px;width:100%;}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important;display:none;}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}
.gist .gist-file .gist-data{border-bottom:none !important;}